.maincontainer {
  width: 960px;
  length:400px;
  margin-top: 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.link-spanner{
  position:absolute; 
  width: 160px;
  height: 100px;
  top:0;
  left: 0;
  z-index: 1;
}

nav li {
  font-family: 'Hind', serif;
  display: inline;
  font-size: 20px;
  margin-left: 20px;
}

nav {
  background-color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
}

.titleblock {
  border: solid #ffcccc 8px;
  padding: 16px;
  font-family: 'Lora', serif;
  font-size: 38px;
  width: 160px;
  text-align: center;
  margin: 25px;
  color: gray;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-weight: bold;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ffcccc;
}

body {
  background-image: url("http://us.123rf.com/450wm/homodans/homodans1511/homodans151100018/47845946-doodle-flower-pattern-black-and-white.jpg?ver=6")
}

.abouttext {
  font-family: 'Lora', serif;
  font-size: 15px;
  width: 800px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 50px;
  line-height: 20px;
  
}
